@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}
@mixin flex-row($display: flex, $jusC: space-between, $alItems: center) {
  display: $display;
  justify-content: $jusC;
  align-items: $alItems;
}
@mixin flex-column(
  $display: flex,
  $flderct: column,
  $jusC: left,
  $alItems: center
) {
  display: $display;
  flex-direction: $flderct;
  justify-content: $jusC;
  align-items: $alItems;
}
