@import 'mixins';

// all
.section__number {
  width: 48px;
  height: 48px;
  font-size: 22px;
  color: #ffffff;
  background-color: #bcc3ca;
  background-size: 60px 60px;
  border-radius: 50%;
  @include flex-column($jusC: center);
}

.section__wrapper {
  width: 736px;
  height: 80px;
  @include flex-column($alItems: left);
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #ffffff;
  color: #bcc3ca;
  margin-top: 24px;
  margin-left: 12%;
  overflow: hidden;
  cursor: pointer;
  transition: height 1s ease-in;
}

.section__wrapper label,
ul {
  margin-top: 50px;
}

.section__wrapper :not(:first-child, input, li, button) {
  padding-left: 96px;
}

.flex-row__container {
  @include flex-row($jusC: start);
  margin-left: 16px;
}

.flex-row__container *:not(:first-child) {
  margin-left: -10.5%;
}
.main-button {
  width: 448px;
  height: 48px;
  background-color: #0061d9;
  color: #ffffff;
  border-radius: 4px;
  margin-top: 16px;
  margin-bottom: 24px;
  margin-left: 96px;
  text-align: center;
}

.text-input__style {
  width: 448px;
  height: 48px;
  margin-left: 96px;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 4px;
  border-width: 1px;
  border-color: rgba(59, 66, 86, 0.5);
}
.input:checked ~ label {
  border: 2px solid #0061d9;
}

label input {
  margin-right: 10px;
}
label span {
  margin-left: -11.5%;
}

* a:not(:last-child) {
  text-decoration: none;
  color: #ffffff;
}
.block {
  display: block;
}

// decoration el
.decor-line {
  width: 1050px;
  margin-bottom: 40px;
  margin-left: 12%;
}

.decor-line::before {
  content: '';
  display: block;
  width: 1050px;
  border-bottom: 1px solid rgba(58, 65, 85, 0.3);
  margin-top: 40px;
}

// section offers
.offers {
}

.offers-wrapper {
  @include flex-row();
  width: 1120px;
  justify-content: space-around;
  align-items: start;
  margin-left: 10%;
}

.offers__info {
}

.offers-info__title {
  font-size: 48px;
  line-height: 56px;
  margin: 0;
}

.offers-info__container {
  justify-content: left;
  align-items: start;
}

.offers-info__logo {
  width: 64px;
  height: 64px;
  background-image: url(../../images/label.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.user__section-number::before {
  content: '1';
}

.user-document {
  background-color: #ffffff;
}

.user-document__section-number::before {
  content: '2';
}

.user-document__input-wrapper {
  @include flex-row($jusC: left);
  justify-content: start;
  align-items: start;
  margin-top: 16px;
}
.user-document__input-wrapper * label {
  padding-left: 0;
}
.input-series {
  display: block;
  width: 160px;
  margin: 0;
}
.input-number {
  display: block;
  width: 256px;
  margin-left: -62px;
}

.agree__section-number::before {
  content: '3';
}

.result__section-number {
  background-image: url(../../images/el3.svg);
  width: 48px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0);
}

.result__title {
}
.link-pravite {
  margin-left: 0;
}
.result-button__wrapper {
  @include flex-row();
  justify-content: left;
  align-items: left;
}
.last-button {
  display: block;
  width: 256px;
  height: 48px;
  margin-top: 24px;
  margin-right: 32px;
  margin-bottom: 40px;
  color: #ffffff;
  background-color: #0050b2;
  &:not(:first-child) {
    color: #0050b2;
    background-color: #ffffff;
  }
}
